<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/app.css' />
		<script src="bundle.js" ></script>
  </head>
  <body>
		<div id="title-box">
			<h1><%= title %></h1>
			<p>Welcome to my record collection</p>
		</div>

		<div id="collection-container">
			<div id="records">
		</div>

  </body>
</html>
