<!DOCTYPE html>

<html>
  <head>
		<meta name="keywords" content="albums, music, youtube,
		not-spotify, curated, collection">
    <title>BREATHEN</title>
    <link rel="stylesheet" href="css/breathen.css"/>
		<script type="text/javascript" src="/lib/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/lib/fontawesome-all.min.js"></script>
		<script type="text/javascript" src="/lib/msclock.js"></script>
  </head>

  <body onLoad="initClock()">
		<div class="header">
			<h2 style="">BREATHEN</h2>
		</div>
		<div class="audio">
			<h3>Basic 7 12</h3>
			<audio controls loop="loop">
				<source src="audio/Basic 7 12.mp3" type="audio/mpeg">
			</audio>
			<br>
			<h3>Long 30</h3>
			<audio controls loop="loop">
				<source src="audio/Slow 30.mp3" type="audio/mpeg">
			</audio>
			<h3>10 Second Interval Timer</h3>
			<audio controls loop="loop">
				<source src="audio/10 Second Interval Timer.mp3" type="audio/mpeg">
			</audio>
		</div>

		<div class="metronome">
			<iframe src="https://www.metronomeonline.com/"></iframe>
		</div>

	</body>

</html>
