<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/app.css" />
		<!--link rel="stylesheet" href="/css/bootstrap.min.css"/-->
		<link rel="stylesheet" type="text/css"
			href="https://fonts.googleapis.com/css?family=Permanent+Marker">
		<link rel="stylesheet" type="text/css"
	 		href="https://fonts.googleapis.com/css?family=Righteous">

		<script src="/lib/jquery-3.1.1.min.js"></script>
		<script src="/lib/-bootstrap.min.js"></script>
  </head>
  <body>
		<div id="title-gradient"></div>
		</div>
		<div id="title-box">
			<span style="">N O R E C O R D S</span>
			<span style="font-size:10px;color:#fff;text-shadow:1px 1px 0px
#38c;">(click to play)</span>
		</div>

		<div id="collection-container" class="centered text-centered container">
			<div id="main">
		</div>

		<script src="bundle.js" ></script>
  </body>

</html>
