html {
	height: 100%;
}

body {
  padding: 50px;
  font: 12px "Lucida Grande", Times,sans-serif;
	color: white !important;	background-color: black !important;
	-background-image: url("/images/black_background.jpg") !important;
	height: 100%;
}

a {
  color: #00B7FF;
}

#title-box {
	margin-left: 45px;
	margin-bottom: 10px;
	font: 20px "Permanent Marker", sans-serif;
}
#collection-container {
	position: relative;
	-background-color: rgba(100, 100, 100, 0.3);
	width: 120%;
}

.img-container {
	display: inline-block;
	padding: 20px 10px 20px 10px;
	overflow: hidden !important;
	height: 305px;
	width: 250px;
	color: #fff;
	border-radius: 6px;
	transition: background-color 0.2s ease;
}

.img-container:hover {
	-box-shadow: 0px 0px 40px blue;
	background-color: rgba(80, 80, 80, 0.4);
	color: #38c;
	font-size: 1em;
	font-weight: bold;
}


.img-container span {
	margin-top: 10px;
	display: block;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 0.9em;
}
.thumb-img {
	 height: 200px; 
	 width: 200px;
	 display: inline-block;
	 padding: 10px;
	 margin-left: 15px;
	 margin-top: 15px;
	 box-shadow: 0px 0px 24px #ddf;
	 border-radius: 6px;
}

#sidebar {
	padding: 20px;
	position: fixed;
	top: 0; left: 0;
	height: 100%;
	width: 300px;
	float: left;
	background-color: rgba(200, 200, 200, 0.7);
	overflow: scroll;
}

#sidebar img {
	height: 170px;
	width: 170px;
	margin: 20px 10px 20px 0px;
}
