html {
	height: 100%;
}

body {
  padding: 50px;
  font: 12px "Lucida Grande", Times,sans-serif;
	color: white !important;
	background-color: #000 !important;
	-background-image: url("/images/black_background.jpg") !important;
	height: 100%;
}

a {
  color: #00B7FF;
}

#title-box {
	overflow: hidden;
	white-space: nowrap;
	margin-left: 20px;
	margin-top: -30px;
	margin-bottom: 40px;
	font: 6em "Permanent Marker", sans-serif;
	color: white;
	text-shadow: 3px 3px 0px #444;
	-animation: dark-shadow 10s 0.5s infinite;
}

@keyframes glow-shadow {
	0% { text-shadow: 3px 3px 0px #add8e6; }
	25% { text-shadow: 3px 3px 0px #d92adf; }
	50% { text-shadow: 3px 3px 0px #48cff2; }
	75% { text-shadow: 3px 3px 0px #21fb33; }
	100% { text-shadow: 3px 3px 0px #add8e6; }
}

@keyframes dark-shadow {
	0% { text-shadow: 3px 3px 0px #111; }
	50% { text-shadow: 3px 3px 0px #444; }
	100% { text-shadow: 3px 3px 0px #111; }

}



.search-sort-container {
	background-color:;
	position: fixed;
	top: 20px;
	right: 2%;
	height: 100px;
	z-index: 500;
	width: 27%;
	min-width: 150px;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	opacity: 0;
	visibility: hidden;
}

.search-sort-container.show {
	opacity: 1;
	visibility: visible;
}

.search-appear {
	opacity: 0.01;
}

.search-appear-active {
	opacity: 1;
	transition: opacity .5s ease-in;
}

.search-container {
	position: relative;
	left: 75px;
	height: 30px;
}

.search-container .search-input {
	float: left;
	border: 1px solid rgba(50, 50, 50, 0);
	border-radius: 3px;
	background-color: rgba(191, 224, 251, 0.15);
	padding-left: 30px;
	height: 30px;
	width: 55%;
	font-family: "Helvetica";
	font-size: 0.9em;
	font-weight: 100;
	color: black;
	transition: background .55s ease;
}

.search-container .search-icon {
	position: absolute;
	top: 9px;
	margin-left: 8px;
	z-index: 10;
	color: #4f5b66;
}

.search-input::-webkit-input-placeholder{
	color: rgba(255, 255, 255, 0.6) !important;
}
.search-input::-moz-input-placeholder {
	color: rgba(255, 255, 255, 0.6) !important;
}
.search-input::-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.6) !important;
}

.search-container .search-input:hover, .search-input:focus, .search-input:active {
	outline: none;
	background: rgba(255, 255, 255, 0.9);
	color: black;
}

.search-input:hover::-webkit-input-placeholder, .search-input:focus::-webkit-input-placeholder  {
	color: #333 !important;
}

.search-input:hover::-ms-input-placeholder, .search-input:focus::-ms-input-placeholder {
	color: #333 !important;
}

.search-input:hover::-moz-input-placeholder, .search-input:focus::-moz-input-placeholder {
	color: #333 !important;
}


.search-clear {
	position: absolute;
	top: 10px;
	right: 30px;
	color: #333;
	transition: .3s ease;
	z-index: 1000;
	cursor: pointer;
}

.search-clear:hover {
	color: rgb(0, 183, 255);
}

.sort-container {
	position: absolute;
	width: 75px;
	height: 40px;
}

.sort-container a {
	cursor: pointer;
}

.sort-icon {
	position: absolute;
	right: 12px;
	top: 6px;
	color: rgba(0, 183, 255, 0.3);
	color: #4f5b66aa;
}

.sort-container .sort-options {
	visibility: visible;
	float: right;
	margin: 11px 48px 0 0;
	font-family: "Permanent Marker";
	font-weight: ;
	opacity: 1;
	color: #ddd;
}

.sort-container .sort-hidden {
	visibility: hidden;
	opacity: 0.01;
	transition: .2s ease;
}

.sort-container:hover > .sort-hidden {
	visibility: visible;
	opacity: 1;
}

.sort-container:hover > a > .sort-icon {
	color: rgb(0, 183, 255);
}


#collection-container {
	position: relative;
	overflow: auto;
}


#infinite-container {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: center;
}

.img-container {
	margin: auto;
	margin-bottom: 15px;
	padding: 15px 10px 20px 10px;
	overflow: hidden !important;
	height: 275px;
	width: 250px;
	color: #fff;
	border-radius: 6px;
	transition: all 0.3s ease, color 1ms, background-color 0.3s;
}

.img-container:hover {
	background-color: rgba(100, 100, 100, 0.3);
	color: white;
	font-size: 1em;
	transform: scale(1.02);
	text-shadow: 1px 1px 1px #38c;
}

.img-container span {
	margin-top: 10px;
	display: block;
	text-align: center;
	font-family: "Permanent Marker", sans-serif;
	font-size: 0.9em;
}
.thumb-img {
	height: 220px;
	width: 220px;
	display: inline-block;
	padding: 0px;
	margin-left: 15px;
	margin-top: 15px;
	box-shadow: 0px 0px 7px -1px #38c; #33d6ff;
	border-radius: 1px;
	-background-color: black;
	transition: all 0.2s ease;
}

.img-container:hover .thumb-img {
	padding: 0px;
	height: 220px;
	width: 220px;
	box-shadow: 0px 0px 20px -4px #38c; #33d6ff;
}


#sidebar {
	padding: 10px;
	padding-top: 8px;
	position: fixed;
	bottom: 0; left: 0;
	height: 200px;
	width: 100%;
	float: left;
	-background-color: rgba(100, 100, 100, 0.6);
	background: linear-gradient(to top, rgba(100, 100, 100, 0.45), rgba(100, 100, 100, 0.5), rgba(191, 234, 255, 0.28));
	overflow: hidden;
	-box-shadow: -5px 0 10px #111;
	z-index: 1000;
}

.sidebar-container {
	display: flex;
	flex-direction: rowc;
	justify-content: space-between;
}

.album-image-container {
	margin-right: 2%;
}

.sidebar-album-image {
	height: 180px;
	width: 180px;
	margin: 10px 10px 15px 45px;
	border: 3px solid #fff;
	box-shadow: 0 0 10px #111;
	-border-radius: 2%;
	-animation: rotation 4s infinite linear;
}

#sidebar h2, b {
	-text-align: center;
	color: #fff;
	text-shadow: 0 0 3px #111;
	height: 34px;
	margin: 5px 0px 2px 0px;
	font-size: 1.5em;
	max-width: 100%;
	white-space: nowrap;
	overflow: scroll;
}

#sidebar h3 {
	margin: 5px 0px 5px 0px;
	text-shadow: 0 0 2px #111;
	font-size: 1.7em;
}

#sidebar h4 {
	z-index: 50;
	font-family: "Helvetica";
	font-size: .9em;
	font-weight: 100;
	color: #398bdb77;
	color: #ffffff;
	margin: 0px 0px 7px 12px;
	text-shadow: 0 0 1px rgba(200, 200, 200, 0.8);
}


#sidebar button {
	position: absolute;
	line-height: 18px;
	top: 9px;
	left: 15px;
	color: #777;
	font-family: "Helvetica";
	background-color: transparent;
	border-radius: 2px;
	border: 0 solid transparent;
	-text-shadow: 0px 0px 1px #ccc;
	transition: background-color 0.5s ease;
}

#sidebar button:hover {
	-color: #111;
	text-shadow: 0px 0px 2px #555;
	background-color: rgba(200, 200, 200, 0.2);
}

#sidebar button:focus {
	outline: none;
}

.songs-container {
	min-width: 300px;
	width: 65%;
	margin-left: 10px;
}

.songs {
	position: absolute;
	overflow: scroll;
	height: 51%;
	max-height: 150px;
	width: 50%;
	min-width: 400px;
}



.songs ul {
	margin-top: 5px;
	list-style-type: none;
	padding-left: 10px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.songs ul li a { display: block; }

.songs a {
	color: #eee;
	display: inline-block;
	font-family: "Righteous";
	text-decoration: none;
	font-size: .9em;
}

.songs a > span {
	vertical-align: middle;
}

.songs a:hover {
	font-weight: bold;
}

.songs li {
	overflow: scroll;
	height: 21px;
	width: auto;
	white-space: nowrap;
	-text-shadow: 0 0 1px #111;
	transition: background-color 0.4s ease;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-shadow: 0px 0px 2px black;
}

.songs li:hover {
	background-color: rgba(54, 128, 208, 1);
	color: #fff;
	text-shadow: 0px 0px 5px white;
}

.iframe-container {
	border-radius: 50%;
}

.iframe-container iframe {
	margin: 2px 30px 0 10px;
	box-shadow: 0 0 5px -1px #bbbbbb88;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
.sidebar-play-button {
	height: 21px;
	width: 21px;
	-display: none;
	margin-right: 8px;
}


