html {
	height: 100%;
}

body {
  padding: 50px;
  font: 12px "Lucida Grande", Times,sans-serif;
	color: white !important;	
	background-color: #000 !important;
	-background-image: url("/images/black_background.jpg") !important;
	height: 100%;
}

a {
  color: #00B7FF;
}

#title-box {
	margin-left: 45px;
	margin-bottom: 10px;
	font: 20px "Permanent Marker", sans-serif;
}
#collection-container {
	position: relative;
	-background-color: rgba(100, 100, 100, 0.3);
	width: 110%;
}

.img-container {
	display: inline-block;
	padding: 20px 10px 20px 10px;
	overflow: hidden !important;
	height: 305px;
	width: 250px;
	color: #fff;
	border-radius: 6px;
	transition: background-color 0.2s ease;
}

.img-container:hover {
	-box-shadow: 0px 0px 40px blue;
	background-color: rgba(80, 80, 80, 0.4);
	color: #38c;
	font-size: 1em;
	font-weight: bold;
}


.img-container span {
	margin-top: 10px;
	display: block;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 0.9em;
}
.thumb-img {
	 height: 200px; 
	 width: 200px;
	 display: inline-block;
	 padding: 10px;
	 margin-left: 15px;
	 margin-top: 15px;
	 box-shadow: 0px 0px 30px #ddf;
	 border-radius: 6px;
}

#sidebar {
	padding: 10px;
	position: fixed;
	bottom: 0; left: 0;
	height: 200px;
	width: 100%;
	float: left;
	background-color: rgba(100, 100, 100, 0.6);
	overflow: hide;
}

.sidebar-image-icon {
	height: 170px;
	width: 170px;
	margin: 10px 10px 20px 40px;
	border: 2px solid grey;
}

#sidebar h2, em {
	-text-align: center;
	color: #fff;
	text-shadow: 0px 0px 3px #eee;
	margin-top: 10px;
}

#sidebar h3 {
}

#sidebar button {
	position: absolute;
	top: -5px;
	left: 12px;
	color: black;
}

#sidebar ul {
	margin-top: 5px;
	list-style-type: none;
	padding-left: 10px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

#sidebar a {
	-color: black;
	color: #cef;
	font-family: Helvetica;
	text-decoration: none;
	transition: text-shadow 0.2s ease;
	font-size: .9em;
}

#sidebar a:hover {
	color: #fff;
	font-size: 1em;
	-font-weight: bold;
	text-shadow: 0px 0px 3px grey;
}

#sidebar li {
	height: 20px;
	width: auto;
	white-space: nowrap;
}

#sidebar li:hover {	
	background-color: #333;

}

#sidebar .songs {
	overflow: scroll;
	height: 63px;
}

#sidebar iframe {
	-position: absolute;
	-top: 0;
	-visibility: hidden;
	margin: -9px 0 0 20px;
}

.sidebar-play-button {
	height: 15px;
	width: 15px;
	-display: none;
	margin-right: 8px;
}

