body {
	padding: 10px 0 0 20px;
}
.header {
	height: 100px;
	width: 100%;

	h2 {
		font-size: 3em;
		font-family: Helvetica Neue;
		font-weight: 100;
		color: #222;
	}
}

.audio {
	h3 {
		color: #49c;
		font-family: Helvetica;
	}
}
